body{
    background-color:blue;
    color: rgb(228, 186, 1);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
margin-bottom: 100px;
margin-left: 100px;

} 